:root {
    --night: #0c090dff;
    --canary: #ffe629ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 16px 'Teko', sans-serif;
    color: var(--canary);
}

.container {
    background-image: url('https://images.unsplash.com/photo-1562832135-14a35d25edef?q=80&w=1890&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    filter: blur(100px);
}

.form_container {
    background-color: var(--night);
    transform: translate(50%, -50%);
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: auto;
    right: 50%;
    top: 50%;
    padding: 2em;
    border-radius: 20px;
}

.form_title {
    text-align: center;
    font-size: 2em;
}

.div_input {
    width: fit-content;
    margin: 1em auto;
}

label {
    margin: auto 1em;
    font-size: 1.3em;
}

input {
    width: 400px;
    padding: .2em;
    border: none;
    border-radius: 4px;
}

input:focus {
    background-color: var(--canary);
    color: var(--night);
    transition: all 1s ease-in-;
}

.form_btn {
    background-color: var(--canary);
    border-radius: 4px;
    width: 100px;
    color: var(--night);
    margin: auto;
    font-size: 1.2em;
    padding: .2em;
}

.form_btn:hover {
    cursor: pointer;
    background-color: var(--night);
    color: var(--canary);
    border: 1px solid var(--canary);
    transition: all 1s ease-in;
}